*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav ul{
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#icons{
    position: fixed;
    top: 50%;
    left: 50px;
}